.reviews-wrapper {
  margin-top: 15rem;
}
.number {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number .counter {
  font-weight: bold;
  font-style: italic;
  font-size: 1.9em;
  margin: 6px 0;
}
.number span {
  font-size: 1.2em;
  display: block;
}
